.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4em;
  padding: 5%;
}

.settings-radio {
  display: flex;
  flex-direction: column;
}