ul.multiple-choice {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.multiple-choice > li {
  color: white;
  font-size: 1.2em;
  background-color:#636563;
  border: 1px solid #b9bab9;
  border-radius: 5px;
  padding: 1%;
  margin: 2%;
  width: 70%;
  cursor: pointer;
}
