.custom-alert {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4em;
    padding: 5%;
}

.custom-alert-success {
    color:green;
}

.custom-alert-fail {
    color:red;
}