header {
    height: 10vh;
    text-align: center;
    color: white;
    background-image: linear-gradient(#979897, #818081);
    display: flex;
    border-bottom: 3px solid #818081;
    align-items: center;
    justify-content: center;
}

header > ul {
  display:flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header > * {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-active {
  background-color: #262626;
  border: 1px solid black;
}
