.binary-choice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.binary-choice > span {
  font-size: 1.4em;
  color:#818081;
}

.binary-choice-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.binary-choice-buttons > .button {
  font-size: 1.4em;
  color: white;
  border-radius: 5px;
  padding: 2%;
}

.button-yes {
  background-color: #6ba231;
}

.button-no {
  background-color: #ff1942;
}