.custom-button {
  font-size: 1.4em;
  color: white;
  border-radius: 5px;
  padding: 2%;
  cursor: pointer;
}

.button-yes {
  background-color: #6ba231;
}

.button-no {
  background-color: #ff1942;
}

.button-primary {
  background-color: #31b0d5;
}