.quote-display {
    padding: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    color: white;
    background-color: #ff178c;
    border-radius: 5px;
    margin: 3%;
}
